.input1{
    border-bottom: 2px solid gray;
    outline: none;
    text-align: center;
    width: 100%;
    
}
.unit{
    padding: 5px;
    text-align: center;
}
.srNo{
    text-align: center;
}
.amount{
    text-align: center;
    font: bold;
}
.search{
    text-align: center;
    font: bold;
    font-size: small;
    font : bold;
    cursor: pointer;
    }